
// Bootstrap Variables
$icon-font-path: '../../node_modules/bootstrap-sass/assets/fonts/bootstrap/';

// Import Bootstrap
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';


*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}


//global styles


body {

  background-color: rgb(59, 67, 99);
  background-size: cover;
  color: rgba (11, 28, 84, 0.88);
  margin: 0;
  display: block;

}
