
// Bootstrap Variables
$icon-font-path: '../../node_modules/bootstrap-sass/assets/fonts/bootstrap/';

// Import Bootstrap
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';

//child stylesheets
@import "welcome";
@import "gameplay";
@import "gameover";

//colors
$primary-background-color: rgb(59, 67, 99);
$gameplay-white: rgb(245, 245, 245);
$rectangle-gray: rgb(245, 245, 245);
$light-blue: rgb(77, 113, 251);
$new-word-yellow: rgb(255, 185, 0);


*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}


//global styles


body {

  background-color: $primary-background-color;
  background-size: cover;
  color: rgba (11, 28, 84, 0.88);
  margin: 0;
  display: block;

}
